Repository dock108/fair-edge: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-pandas-numpy, check-app-size, no-direct-app-imports

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: no-pandas-numpy
        name: Block pandas/numpy imports
        entry: bash
        args: ['-c', 'if grep -r "import pandas\|import numpy\|from pandas\|from numpy" --include="*.py" .; then echo "❌ pandas/numpy imports detected - these dependencies were removed"; exit 1; fi']
        language: system
        files: '\.py$'
        
      - id: check-app-size
        name: Check app.py size limit
        entry: bash
        args: ['-c', 'lines=$(wc -l < app.py); if [ $lines -gt 800 ]; then echo "❌ app.py has $lines lines (limit: 800) - consider refactoring"; exit 1; fi']
        language: system
        files: '^app\.py$'
        
      - id: no-direct-app-imports
        name: Block direct app imports in routes
        entry: bash
        args: ['-c', 'if grep -r "from app import\|import app" routes/ --include="*.py" 2>/dev/null; then echo "❌ Direct app imports in routes detected - use dependency injection"; exit 1; fi']
        language: system
        files: '^routes/.*\.py$'
        
      - id: check-env-security
        name: Check for committed secrets
        entry: bash
        args: ['-c', 'if [ -f .env ] && ! grep -q "^\.env$" .gitignore; then echo "❌ .env file exists but not in .gitignore"; exit 1; fi']
        language: system
        pass_filenames: false
        
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        args: [--line-length=100]
        
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: [--max-line-length=100, --ignore=E203,W503]
        
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--profile=black, --line-length=100]

Enhance JWT token handling and error logging in session creation
  app.py
  templates/dashboard.html
  verify_supabase_login.py
Due: no-pandas-numpy, check-app-size

Implement deduplication of betting opportunities and enhance cleanup procedures
  app.py
  deps.txt
  services/celery_app.py
  services/fastapi_data_processor.py
  services/tasks.py
  static/js/auth.js
  templates/base.html
  templates/dashboard.html
Due: no-pandas-numpy, check-app-size

Refactor opportunity processing and enhance manual refresh functionality
  app.py
  core/constants.py
  services/tasks.py
  templates/dashboard.html
Due: no-pandas-numpy, check-app-size

Enhance Celery worker startup and update pricing template
  services/celery_app.py
  templates/pricing.html
  worker.py
Due: no-pandas-numpy

Refactor session management and enhance cookie handling
  app.py
  core/session.py
  dev-utils/README.md
  dev-utils/check_profiles.py
  dev-utils/cleanup_auth_users.sql
  dev-utils/complete_user_reset.py
  dev-utils/fix_and_test_users.py
  static/js/auth.js
  static/js/login.js
  verify_supabase_login.py
Due: no-pandas-numpy, check-app-size

Refactor opportunity retrieval and user context management
  app.py
  services/data_service.py
  services/response_service.py
  services/user_service.py
Due: no-pandas-numpy, check-app-size

Refactor API response handling and improve error management
  app.py
  core/config/__init__.py
  core/config/cache.py
  core/config/features.py
  core/config/settings.py
  core/config/sports.py
  core/exceptions.py
  services/celery_app.py
  services/response_service.py
Due: no-pandas-numpy, check-app-size

Implement new database models and async session management for betting opportunities
  .gitignore
  alembic.ini
  alembic/README
  alembic/env.py
  alembic/script.py.mako
  alembic/versions/1953a86d588d_add_betting_opportunities_tables.py
  db.py
  models.py
  services/bet_persistence.py
  services/tasks.py
Due: no-pandas-numpy

Update environment configuration and refactor settings management
  .env.example
  .gitignore
  alembic/env.py
  app.py
  core/auth.py
  core/config.py
  core/config/__init__.py
  core/config/settings.py
  core/jwt.py
  core/rate_limit.py
  core/security.py
  core/session.py
  core/settings.py
  core/stripe.py
  routes/billing.py
  services/celery_app.py
  setup_stripe.py
Due: no-pandas-numpy, check-app-size, no-direct-app-imports

Update .gitignore and enhance Bet model with new fields
  .gitignore
  alembic/versions/f25d88596077_add_uq_bet_dedup_constraint.py
  core/settings.py
  models.py
Due: no-pandas-numpy

Enhance application startup and Docker configuration for observability and health checks
  .github/workflows/ci-tests.yml
  Dockerfile
  alembic/versions/43d5ddf9785d_add_enum_types_only.py
  alembic/versions/68bec780ff86_add_partial_event_time_index.py
  app.py
  core/log_config.yaml
  core/logging.py
  core/observability.py
  core/rate_limit.py
  docker-compose.test.yml
  docker-compose.yml
  docker/entrypoint.sh
  docs/TESTING.md
  models.py
  requirements.txt
  routes/admin.py
  routes/billing.py
  scripts/run_tests.sh
  tests/locustfile.py
Due: no-pandas-numpy, check-app-size, no-direct-app-imports

Update dependencies in requirements.txt
  requirements.txt
Due: none

Enhance API opportunity fetching and logging configuration
  app.py
  core/log_config.yaml
  core/logging.py
  requirements.txt
Due: no-pandas-numpy, check-app-size

Implement batch processing for opportunities API and enhance observability
  app.py
  core/cache.py
  core/metrics.py
  core/observability.py
  docker/entrypoint.sh
  docs/DB_ENUM_UPGRADES.md
  docs/HORIZONTAL_SCALING.md
  requirements.txt
  services/celery_app.py
  tasks/__init__.py
  tasks/ev.py
Due: no-pandas-numpy, check-app-size

Refactor admin page access control and enhance JWT decoding
  app.py
  core/settings.py
Due: no-pandas-numpy, check-app-size

Refactor dashboard CSS to utilize design tokens for improved maintainability
  scripts/check-unused-tokens.js
  static/css/_tokens.css
  static/css/dashboard.css
  templates/base.html
Due: none

Refactor layout and structure of base and dashboard templates for improved consistency
  docs/LAYOUT_GUIDE.md
  static/css/_layout.css
  static/js/layout.js
  templates/base.html
  templates/dashboard.html
  templates/partials/stats_drawer.html
  templates/partials/top_shell.html
Due: none

Refactor authentication UI and enhance dashboard layout for improved user experience
  static/js/auth.js
  templates/base.html
  templates/dashboard.html
Due: none

Enhance frontend structure and API integration for improved user experience
  app.py
  frontend/.env.development
  frontend/index.html
  frontend/src/App.tsx
  frontend/src/components/BetCard.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/hooks/useOpportunities.ts
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/DisclaimerPage.tsx
  frontend/src/pages/EducationPage.tsx
  frontend/src/pages/PricingPage.tsx
  frontend/src/styles/dashboard.css
  frontend/src/types/index.ts
Due: no-pandas-numpy, check-app-size
