Repository dock108/fair-edge: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-pandas-numpy, check-app-size, no-direct-app-imports

no-pandas-numpy:
  name: Block pandas/numpy imports
  entry: bash
  args:
  - -c
  - if grep -r "import pandas\|import numpy\|from pandas\|from numpy" --include="*.py" .; then echo "❌ pandas/numpy imports detected - these dependencies were removed"; exit 1; fi
  language: system

check-app-size:
  name: Check app.py size limit
  entry: bash
  args:
  - -c
  - 'lines=$(wc -l < app.py); if [ $lines -gt 800 ]; then echo "❌ app.py has $lines lines (limit: 800) - consider refactoring"; exit 1; fi'
  language: system

no-direct-app-imports:
  name: Block direct app imports in routes
  entry: bash
  args:
  - -c
  - if grep -r "from app import\|import app" routes/ --include="*.py" 2>/dev/null; then echo "❌ Direct app imports in routes detected - use dependency injection"; exit 1; fi
  language: system

Remove production Docker configurations and update entrypoint for Railway deployments
  Dockerfile
  Dockerfile.celery
  docker-compose.prod.yml
  docker/entrypoint.sh
  frontend/Dockerfile
  frontend/nginx.conf
  frontend/src/pages/DashboardPage.tsx
Due: none

Refactor environment configuration and update Docker setup for development
  .env.example
  Dockerfile
  Dockerfile.celery
  README.md
  docker-compose.prod.yml
  docker-compose.yml
  docker/Dockerfile.backend
  docker/Dockerfile.dev
  docker/Dockerfile.frontend
  docker/entrypoints/api.sh
  docker/entrypoints/celery-beat.sh
  docker/entrypoints/celery-worker.sh
  docker/nginx/default.conf
  docker/nginx/nginx.conf
  docker/redis/redis.conf
  docs/DEVELOPMENT.md
  docs/INDEX.md
  frontend/.env.example
  frontend/Dockerfile
  frontend/Dockerfile.dev
  frontend/vite.config.ts
Due: none

Refactor and enhance Fair-Edge application architecture for production readiness
  CLAUDE.md
  COMPREHENSIVE_RECOMMENDATIONS.md
  DEPLOYMENT_CHECKLIST.md
  app.py
  core/auth.py
  core/constants.py
  core/ev_analyzer.py
  core/security.py
  core/session.py
  core/settings.py
  routes/billing.py
  services/data_service.py
  services/odds_api.py
  services/tasks.py
  services/user_service.py
Due: no-pandas-numpy, check-app-size, no-direct-app-imports

Refactor Fair-Edge application for modular architecture and enhanced SEO
  app.py
  frontend/.env.example
  frontend/index.html
  frontend/public/browserconfig.xml
  frontend/src/App.tsx
  frontend/src/components/common/LoadingSpinner.tsx
  frontend/src/components/common/ShimmerEffect.tsx
  frontend/src/components/common/SkeletonLoader.tsx
  frontend/src/components/common/index.ts
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/UpgradeSuccessPage.tsx
  frontend/src/services/apiService.ts
  frontend/src/utils/env.ts
  routes/__init__.py
  routes/analytics.py
  routes/auth.py
  routes/debug.py
  routes/opportunities.py
  routes/system.py
  services/celery_app.py
  services/tasks.py
  tasks/ev.py
  tests/locustfile.py
  utils/__init__.py
  utils/migrations.py
Due: no-pandas-numpy, check-app-size, no-direct-app-imports

Enhance Fair-Edge application with new dashboard admin route and refined user roles
  CLAUDE.md
  COMPREHENSIVE_RECOMMENDATIONS.md
  DEPLOYMENT_CHECKLIST.md
  README.md
  alembic/versions/20241228_001_update_user_role_enum.py
  app.py
  core/exceptions.py
  docs/API.md
  docs/OPERATIONS.md
  docs/SMART_REFRESH_SYSTEM.md
  docs/SPRINT6_QA_CHECKLIST.md
  docs/USER_GUIDE.md
  frontend/src/App.tsx
  frontend/src/components/FeatureGate.tsx
  frontend/src/components/PremiumPrompt.tsx
  frontend/src/components/PrivateRoute.tsx
  frontend/src/components/ProtectedRoute.tsx
  frontend/src/components/common/Banner.tsx
  frontend/src/components/common/LoadingButton.tsx
  frontend/src/components/common/index.ts
  frontend/src/hooks/usePermissions.ts
  frontend/src/index.css
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/EducationPage.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/styles/_tokens.css
  frontend/src/styles/_typography.css
  models.py
  routes/auth.py
  routes/billing.py
  routes/dashboard_admin.py
  routes/opportunities.py
  scripts/run_tests.sh
  services/celery_app.py
  services/dashboard_activity.py
  services/tasks.py
Due: no-pandas-numpy, check-app-size, no-direct-app-imports

Refactor Fair-Edge application startup and route management for improved modularity
  .env.hetzner.template
  HETZNER_QUICKSTART.md
  MANUAL_DEPLOY_INSTRUCTIONS.md
  app.py
  celery_worker.pid
  core/auth.py
  core/session.py
  deploy-to-hetzner.sh
  deploy-with-password.sh
  docker-compose.hetzner.yml
  docker-compose.simple.yml
  docker/caddy/Caddyfile
  docker/caddy/Caddyfile.simple
  docker/entrypoints/api.sh
  docker/systemd/fair-edge.service
  docs/HETZNER_DEPLOYMENT.md
  frontend/src/pages/DashboardPage.tsx
  frontend/src/services/apiService.ts
  requirements.txt
  routes/__init__.py
  routes/debug.py
  routes/opportunities.py
  routes/system.py
  scripts/deploy-hetzner.sh
Due: no-pandas-numpy, check-app-size, no-direct-app-imports

Remove deprecated Docker configurations and environment files for streamlined deployment
  .env.hetzner.template
  CLAUDE.md
  app.py
  core/rate_limit.py
  docker-compose.dev.yml
  docker-compose.hetzner.yml
  docker-compose.prod.yml
  docker-compose.simple.yml
  docker-compose.yml
  docker/Dockerfile.frontend
  docker/caddy/Caddyfile
  docker/caddy/Caddyfile.simple
Due: no-pandas-numpy, check-app-size

Remove obsolete files and documentation for improved project clarity
  HETZNER_QUICKSTART.md
  MANUAL_DEPLOY_INSTRUCTIONS.md
  celery_worker.pid
  docs/DB_ENUM_UPGRADES.md
  docs/SMART_REFRESH_SYSTEM.md
  docs/SPRINT6_QA_CHECKLIST.md
  scripts/add_stripe_columns.py
  scripts/add_updated_at_column.sql
  scripts/check-unused-tokens.js
  scripts/check_status.sh
  scripts/deploy-hetzner.sh
  scripts/start_beat.sh
  scripts/start_dev.sh
  scripts/start_worker.sh
  scripts/stop_dev.sh
Due: no-pandas-numpy

Remove deployment scripts for improved project clarity
  deploy-to-hetzner.sh
  deploy-with-password.sh
Due: none

Refactor environment configuration and Docker setup for improved clarity and maintainability
  .env.example
  CLAUDE.md
  core/observability.py
  docker-compose.dev.yml
  docker-compose.yml
  docker/Dockerfile
  docker/Dockerfile.backend
  docker/Dockerfile.dev
  docker/Dockerfile.frontend
  docker/caddy/Caddyfile
  frontend/nginx.conf
  frontend/src/App.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/src/services/apiService.ts
  routes/opportunities.py
  scripts/promote_admin.py
  services/fastapi_data_processor.py
  services/opportunity_formatter.py
Due: no-pandas-numpy, no-direct-app-imports

first server deploy
  frontend/.env.example
  frontend/.gitignore
Due: none

Refactor database session management for pgbouncer compatibility
  DATA_PERSISTENCE_SUMMARY.md
  alembic/versions/e63f25befca8_merge_migration_heads.py
  db.py
  routes/monitoring.py
  scripts/monitor_persistence.py
  scripts/monitor_persistence_sync.py
  scripts/persistence_dashboard.py
  services/persistence_monitoring.py
  services/persistence_optimizer.py
  services/sync_bet_persistence.py
  services/tasks.py
Due: no-pandas-numpy, no-direct-app-imports

Update services/bet_persistence.py
  services/bet_persistence.py
Due: no-pandas-numpy

Potential fix for code scanning alert no. 8: Use of a broken or weak cryptographic hashing algorithm on sensitive data
  routes/opportunities.py
Due: no-pandas-numpy, no-direct-app-imports

Enhance Celery task scheduling and data refresh strategy
  CLAUDE.md
  services/celery_app.py
  services/tasks.py
Due: no-pandas-numpy

Update Celery task scheduling for data refresh
  services/celery_app.py
Due: no-pandas-numpy

Add Caddy reverse proxy configuration and update docker-compose.yml
  docker-compose.yml
  docker/caddy/Caddyfile
  scripts/build-frontend.sh
Due: none

Remove unused import of FeatureGate in DashboardPage component
  frontend/src/pages/DashboardPage.tsx
Due: none

Update Caddyfile to use 'api' service for reverse proxy
  docker/caddy/Caddyfile
Due: none

Fix database consolidation logic for bet offers
  DEPLOYMENT.md
  README.md
  db.py
  db_old.py
  docker-compose.production.yml
  docker-compose.yml
  docs/API.md
  docs/HETZNER_DEPLOYMENT.md
  docs/TESTING.md
  docs/USER_GUIDE.md
  frontend/src/components/Header.tsx
  models.py
  services/bet_persistence.py
  services/celery_app.py
  services/celery_config.py
  services/sync_bet_persistence.py
  services/tasks.py
  switch-env.sh
Due: no-pandas-numpy

Refactor authentication functions to remove unused database dependency
  .gitignore
  DEPLOYMENT_CHANGES.md
  core/auth.py
  docker/caddy/Caddyfile
Due: no-pandas-numpy

Path conditions:
  no-pandas-numpy: any of: \.py$
  check-app-size: any of: ^app\.py$
  no-direct-app-imports: any of: ^routes/.*\.py$
