Repository dock108/fair-edge: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-pandas-numpy, check-app-size, no-direct-app-imports

no-pandas-numpy:
  name: Block pandas/numpy imports
  entry: bash
  args:
  - -c
  - if grep -r "import pandas\|import numpy\|from pandas\|from numpy" --include="*.py" .; then echo "❌ pandas/numpy imports detected - these dependencies were removed"; exit 1; fi
  language: system

check-app-size:
  name: Check app.py size limit
  entry: bash
  args:
  - -c
  - 'lines=$(wc -l < app.py); if [ $lines -gt 800 ]; then echo "❌ app.py has $lines lines (limit: 800) - consider refactoring"; exit 1; fi'
  language: system

no-direct-app-imports:
  name: Block direct app imports in routes
  entry: bash
  args:
  - -c
  - if grep -r "from app import\|import app" routes/ --include="*.py" 2>/dev/null; then echo "❌ Direct app imports in routes detected - use dependency injection"; exit 1; fi
  language: system

Refactor authentication functions to remove unused database dependency
  .gitignore
  DEPLOYMENT_CHANGES.md
  core/auth.py
  docker/caddy/Caddyfile
Due: no-pandas-numpy

Refactor environment configuration and cleanup
  .env.example
  .gitignore
  DATA_PERSISTENCE_SUMMARY.md
  DEPLOYMENT.md
  DEPLOYMENT_CHANGES.md
  README.md
  db_old.py
  docker-compose.prod.yml
  docker-compose.production.yml
  docker-compose.yml
  docker/nginx/default.conf
  docker/nginx/nginx.conf
  docker/systemd/fair-edge.service
  docs/CLAUDE.md
  docs/DEPLOYMENT.md
  docs/DEVELOPMENT.md
  docs/HETZNER_DEPLOYMENT.md
  docs/OPERATIONS.md
  docs/QUICK_REFERENCE.md
  docs/README.md
  docs/USER_GUIDE.md
  scripts/deploy.sh
  scripts/setup-dev.sh
  scripts/setup-prod.sh
  services/sync_bet_persistence.py
  switch-env.sh
Due: no-pandas-numpy

Refactor environment variable management and update Docker configurations
  app.py
  docker-compose.prod.yml
  docker-compose.yml
  docker/Dockerfile
  routes/debug.py
  scripts/setup-dev.sh
  scripts/setup-prod.sh
Due: no-pandas-numpy, check-app-size, no-direct-app-imports

Update .gitignore to allow .env.production and refine JSON file exclusions
  .claude/settings.local.json
  .gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/public/manifest.json
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
Due: none

Fix .gitignore to allow frontend src/lib directory
  .gitignore
Due: none

Add frontend supabase client configuration
  frontend/src/lib/supabase.ts
Due: none

Enhance environment setup scripts for frontend integration
  .gitignore
  scripts/setup-dev.sh
  scripts/setup-prod.sh
Due: none

fix: Complete production deployment workflow
  docker-compose.prod.yml
  docker-compose.yml
  scripts/setup-prod.sh
Due: none

CRITICAL SECURITY FIX: Replace python-jose with PyJWT
  core/auth.py
  core/session.py
  requirements.txt
Due: no-pandas-numpy

feat: comprehensive CI/CD pipeline overhaul
  .github/dependabot.yml
  .github/workflows/ci-tests.yml
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  .github/workflows/deploy.yml
  .github/workflows/maintenance.yml
  .pre-commit-config.yaml
Due: none

fix: refine secret detection to reduce false positives
  .github/workflows/maintenance.yml
  .pre-commit-config.yaml
Due: none

chore: remove deploy.yml workflow file
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

debug: add enhanced logging for 'Anonymous (Inactive)' auth issue
  DEBUG_AUTH.md
  frontend/src/contexts/AuthContext.tsx
  frontend/src/hooks/usePermissions.ts
Due: none

fix: switch authentication to use Supabase REST API as primary method
  core/auth.py
Due: no-pandas-numpy

fix: disable JWT audience verification for Supabase tokens
  core/auth.py
Due: no-pandas-numpy

fix: treat admin users as always having active subscription
  frontend/src/hooks/usePermissions.ts
Due: none

feat: add crown emoji for admin accounts in user menu
  frontend/src/components/Header.tsx
Due: none

chore: remove DEBUG_AUTH.md file
  DEBUG_AUTH.md
  frontend/src/App.tsx
  frontend/src/hooks/useApiService.ts
  frontend/src/services/enhancedApiService.ts
  frontend/src/utils/authTestHelpers.ts
Due: none

feat: enhance Docker setup for production with Caddy and build optimizations
  docker-compose.production.yml
  docker/Dockerfile
  docker/caddy/Caddyfile
  frontend/vite.config.ts
  routes/system.py
  scripts/deploy-prod.sh
Due: no-pandas-numpy, no-direct-app-imports

feat: enhance Docker and Caddy configuration for production
  docker-compose.production.yml
  docker/Dockerfile
  docker/caddy/Caddyfile
  frontend/vite.config.ts
Due: none

feat: integrate Supabase for billing and testing enhancements
  .gitignore
  README.md
  app.py
  db.py
  docker-compose.prod.yml
  docs/API.md
  docs/CLAUDE.md
  docs/DEPLOYMENT.md
  docs/DEVELOPMENT.md
  docs/OPERATIONS.md
  docs/PHASE3_MANUAL_TESTING_CHECKLIST.md
  docs/QUICK_REFERENCE.md
  docs/README.md
  docs/TESTING.md
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/tests/e2e/subscription-flows.spec.ts
  routes/billing.py
  scripts/create_supabase_test_users.py
  scripts/create_test_users.py
  scripts/create_test_users.sql
  scripts/deploy.sh
  scripts/monitor_persistence.py
  scripts/monitor_persistence_sync.py
  scripts/persistence_dashboard.py
  scripts/run-subscription-tests.sh
  scripts/setup-live-stripe-manual.sh
  scripts/setup-stripe-testing.sh
  scripts/start-webhook-forwarding.sh
  scripts/update_test_user_roles.py
Due: no-pandas-numpy, check-app-size, no-direct-app-imports

Path conditions:
  no-pandas-numpy: any of: \.py$
  check-app-size: any of: ^app\.py$
  no-direct-app-imports: any of: ^routes/.*\.py$
