Repository dock108/fair-edge: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-pandas-numpy, check-app-size, no-direct-app-imports

no-pandas-numpy:
  name: Block pandas/numpy imports
  entry: bash
  args:
  - -c
  - if grep -r "import pandas\|import numpy\|from pandas\|from numpy" --include="*.py" .; then echo "❌ pandas/numpy imports detected - these dependencies were removed"; exit 1; fi
  language: system

check-app-size:
  name: Check app.py size limit
  entry: bash
  args:
  - -c
  - 'lines=$(wc -l < app.py); if [ $lines -gt 800 ]; then echo "❌ app.py has $lines lines (limit: 800) - consider refactoring"; exit 1; fi'
  language: system

no-direct-app-imports:
  name: Block direct app imports in routes
  entry: bash
  args:
  - -c
  - if grep -r "from app import\|import app" routes/ --include="*.py" 2>/dev/null; then echo "❌ Direct app imports in routes detected - use dependency injection"; exit 1; fi
  language: system

Enhance frontend structure and API integration for improved user experience
  app.py
  frontend/.env.development
  frontend/index.html
  frontend/src/App.tsx
  frontend/src/components/BetCard.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/hooks/useOpportunities.ts
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/DisclaimerPage.tsx
  frontend/src/pages/EducationPage.tsx
  frontend/src/pages/PricingPage.tsx
  frontend/src/styles/dashboard.css
  frontend/src/types/index.ts
Due: no-pandas-numpy, check-app-size

Delete frontend/.env.development
  frontend/.env.development
Due: none

Delete .env.development
  .env.development
Due: none

Change file permissions for check_status.sh to make it executable
  check_status.sh
Due: none

Refactor user profile retrieval and odds conversion logic
  app.py
  core/settings.py
  dev-utils/README.md
  dev-utils/check_profiles.py
  dev-utils/cleanup_auth_users.sql
  dev-utils/complete_user_reset.py
  dev-utils/fix_and_test_users.py
  docker/entrypoint.sh
  frontend/src/styles/dashboard.css
  services/bet_persistence.py
  services/tasks.py
  tests/__init__.py
  tests/locustfile.py
Due: no-pandas-numpy, check-app-size

Remove legacy files and scripts following migration to React SPA
  MIGRATION_COMPLETE.md
  README.md
  docs/DEVELOPMENT.md
  docs/INDEX.md
  frontend/README.md
  index.html
  scripts/check_status.sh
  scripts/setup_database.py
  scripts/setup_stripe.py
  scripts/start_local_dev.sh
  scripts/stop_local_dev.sh
  src/App.tsx
  src/components/BetCard.tsx
  src/components/Navbar.tsx
  src/hooks/useAuth.ts
  src/hooks/useOpportunities.ts
  src/main.tsx
  src/pages/DashboardPage.tsx
  src/pages/DisclaimerPage.tsx
  src/pages/EducationPage.tsx
  src/pages/PricingPage.tsx
  src/services/api.ts
  src/types/index.ts
  verify_system.py
Due: no-pandas-numpy

Remove legacy Docker configuration files and Dockerfile
  Dockerfile
  docker-compose.test.yml
  docker-compose.yml
Due: none

Update pricing plans and user access levels in the application
  .env.example
  Dockerfile
  STRIPE_SETUP.md
  app.py
  core/settings.py
  docker-compose.test.yml
  docker-compose.yml
  frontend/src/App.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/PricingPage.tsx
  frontend/src/services/apiService.ts
  frontend/src/styles/dashboard.css
  frontend/src/utils/permissions.ts
  routes/billing.py
  services/fastapi_data_processor.py
  simple_db_check.py
Due: no-pandas-numpy, check-app-size, no-direct-app-imports

Refactor application branding and user role management
  README.md
  app.py
  core/config/features.py
  core/exceptions.py
  core/observability.py
  core/settings.py
  db.py
  docker-compose.yml
  fairedge_logo_assets/fairedge_logo_192.png
  fairedge_logo_assets/fairedge_logo_32.png
  fairedge_logo_assets/fairedge_logo_512.png
  fairedge_logo_assets/fairedge_logo_64.png
  fairedge_logo_assets/fairedge_logo_full.png
  fairedge_logo_assets/favicon.ico
  frontend/index.html
  frontend/public/favicon.ico
  frontend/public/icons/fairedge_logo_192.png
  frontend/public/icons/fairedge_logo_32.png
  frontend/public/icons/fairedge_logo_512.png
  frontend/public/icons/fairedge_logo_64.png
  frontend/public/icons/fairedge_logo_full.png
  frontend/src/components/BetCard.tsx
  frontend/src/components/Header.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/index.css
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/PricingPage.tsx
  frontend/src/pages/SignUpPage.tsx
  frontend/src/styles/_tokens.css
  frontend/src/styles/dashboard.css
  scripts/check_status.sh
  services/celery_app.py
  simple_user_check.py
  update_existing_user_to_basic.py
  update_users_for_three_tier.py
  worker.py
Due: no-pandas-numpy, check-app-size

Refactor database session management and enhance opportunity filtering logic
  app.py
  core/auth.py
  db.py
  fairedge_logo_assets/fairedge_logo_192.png
  fairedge_logo_assets/fairedge_logo_32.png
  fairedge_logo_assets/fairedge_logo_512.png
  fairedge_logo_assets/fairedge_logo_64.png
  fairedge_logo_assets/fairedge_logo_full.png
  fairedge_logo_assets/favicon.ico
  scripts/add_stripe_columns.py
  scripts/check_schema.py
  scripts/start_local_dev.sh
  scripts/stop_local_dev.sh
  simple_db_check.py
  simple_user_check.py
  update_existing_user_to_basic.py
  update_users_for_three_tier.py
Due: no-pandas-numpy, check-app-size

Refactor signal handler and update CSRF validation parameters
  app.py
  common/__init__.py
  common/redis_utils.py
  config.py
  core/metrics.py
  core/odds_calculator.py
  routes/admin.py
  routes/realtime.py
  scripts/create_test_users_correct.py
  scripts/create_test_users_simple.py
  scripts/manage.py
  scripts/setup_database.py
  scripts/setup_stripe.py
  services/celery_app.py
  services/config.py
  services/fastapi_data_processor.py
  services/redis_cache.py
  services/tasks.py
  src/__init__.py
  src/admin/__init__.py
  src/admin/tasks.py
  src/billing/__init__.py
  src/odds/__init__.py
  src/odds/tasks.py
  src/users/__init__.py
  tasks/ev.py
  utils/math_utils.py
Due: no-pandas-numpy, check-app-size, no-direct-app-imports

Enhance opportunity filtering and update Docker configuration
  Dockerfile
  app.py
  core/auth.py
  docker-compose.yml
  docker/entrypoint.sh
  frontend/src/pages/DashboardPage.tsx
  requirements.txt
  scripts/start_local_dev.sh
  scripts/stop_local_dev.sh
Due: no-pandas-numpy, check-app-size

Refactor environment configuration and enhance Celery task handling
  db.py
  docker-compose.yml
  services/celery_app.py
  services/fastapi_data_processor.py
  services/tasks.py
  src/odds/tasks.py
Due: no-pandas-numpy

Refactor odds conversion and enhance utility function usage
  app.py
  core/ev_analyzer.py
  core/fair_odds_calculator.py
  frontend/src/components/BetCard.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/DisclaimerPage.tsx
  frontend/src/pages/LoginPage.tsx
  services/bet_persistence.py
  utils/bet_matching.py
  utils/math_utils.py
  utils/odds_utils.py
Due: no-pandas-numpy, check-app-size

Enhance user info retrieval and improve error handling
  app.py
  frontend/src/contexts/AuthContext.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/vite.config.ts
Due: no-pandas-numpy, check-app-size

Add footer component and enhance header user menu functionality
  frontend/src/App.tsx
  frontend/src/components/Footer.tsx
  frontend/src/components/Header.tsx
  frontend/src/pages/SignUpPage.tsx
  frontend/src/styles/dashboard.css
  routes/billing.py
Due: no-pandas-numpy, no-direct-app-imports

Update development documentation and enhance Docker configurations
  docker-compose.dev.yml
  docs/DEVELOPMENT.md
  frontend/Dockerfile.dev
  frontend/vite.config.ts
  scripts/start_dev.sh
  scripts/start_local_dev.sh
  scripts/stop_dev.sh
  scripts/stop_local_dev.sh
Due: none

Remove deprecated configuration and logging files
  README.md
  STRIPE_SETUP.md
  config.py
  core/cache.py
  core/fair_odds_calculator.py
  core/jwt.py
  docker-compose.yml
  docs/DEVELOPMENT.md
  docs/HORIZONTAL_SCALING.md
  docs/INDEX.md
  docs/LAYOUT_GUIDE.md
  logging_config.yaml
  scripts/start_dev.sh
  services/celery_app.py
  services/config.py
  services/fastapi_data_processor.py
  services/odds_api.py
  services/redis_cache.py
  services/response_service.py
  src/__init__.py
  src/admin/__init__.py
  src/admin/tasks.py
  src/billing/__init__.py
  src/odds/__init__.py
  src/odds/tasks.py
  src/users/__init__.py
  worker.py
Due: no-pandas-numpy

Remove deprecated Docker configurations and update README for clarity
  .github/workflows/ci-tests.yml
  README.md
  core/odds_calculator.py
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.test.yml
  docs/DEVELOPMENT.md
  frontend/src/components/BetCard.tsx
  services/fastapi_data_processor.py
  services/odds_api.py
  services/tasks.py
  utils/bet_matching.py
Due: no-pandas-numpy

Remove production Docker configurations and update entrypoint for Railway deployments
  Dockerfile
  Dockerfile.celery
  docker-compose.prod.yml
  docker/entrypoint.sh
  frontend/Dockerfile
  frontend/nginx.conf
  frontend/src/pages/DashboardPage.tsx
Due: none

Path conditions:
  no-pandas-numpy: any of: \.py$
  check-app-size: any of: ^app\.py$
  no-direct-app-imports: any of: ^routes/.*\.py$
